@{
    ViewBag.Title = "Admin";
    Layout = "~/View/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<h2>Add a Book</h2>
<div class="form-group" style="display:none;">
    <input id="txtBookId" class="form-control" name="BookId" />
</div>
<div class="form-group">
    <label for="Title">Title:</label>
    <input id="txtTitle" class="form-control" name="Title" />
</div>
<div class="form-group">
    <label for="Author">Author:</label>
    <input id="txtAuthor" class="form-control" name="Author" />
</div>
<div class="form-group">
    <label for="Genre">Genre:</label>
    <input id="txtGenre" class="form-control" name="Genre" />
</div>
<div class="form-group">
    <label for="Price">Price:</label>
    <input id="txtPrice" class="form-control" name="Price" />
</div>
<div class="text-center panel-body">
    <button id="btnSave" class="btn btn-sm btn-primary">Save</button>
</div>

<button onclick="GetBooksByLibrary()" class="btn btn-primary">Load Books</button>

<br />

<h2>Book List</h2>
<table id="tblBooks" class="table table-sm table-striped table-bordered m-2">
    <thread>
        <tr>
            <th>Book Library Association Id</th>
            <th>Book Id</th>
            <th>Library Id</th>
            <th>Is Available</th>
            <th>Is Checked Out</th>
        </tr>
    </thread>
    <tbody></tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {

    });

    function GetBooksByLibrary() {
        $.getJSON("/Admin/GetBooksByLibrary", function (books) {
            $("#tblBooks tbody tr").remove();
            $.map(books, function (book) {
                $("#tblBooks tbody").append("<tr>"
                    + "<td>" + book.BookLibraryAssociationId + "</td>"
                    + "<td>" + book.BookId + "</td>"
                    + "<td>" + book.LibraryId + "</td>"
                    + "<td>" + book.IsAvailable + "</td>"
                    + "<td>" + book.IsCheckedOut + "</td>"
                    + "<td>"
                    + "     <button class='btn-success' onClick='Mark Available(" + book.BookLibraryAssociationId + ")' style='margin-right:5px;'>Mark Available</button>
                    + "     <button class='btn-danger' onClick='Mark Unvailable(" + book.BookLibraryAssociationId + ")'>Mark Unavailable</button>"
                    + " </td> "
                    + "</tr>");
            });
        });
    }

    $("btnSave").click(function () {
        var oBook = {
            BookId: $("#txtBookId").val(),
            Title: $("#txtTitle").val(),
            Author: $("#txtAuthor").val(),
            Genre: $("#txtGenre").val(),
            Price: $("#txtPrice").val()

        };

        $.post("/Admin/PostBooks", oBook)
            .done(function (data) {

                GetBooksByLibrary
            });

        });
    
</script>
       

