
@{
    ViewData["Title"] = "MakeBookUnavailable";
}

<h1>Make a Book Unavailable</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form action="PutUnavailable">
            <div class="form-group">
                <label>Book Id:</label>
                <input type="text" name="BookId" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Make Unavailable" />
            </div>
        </form>
    </div>
</div>


