
@{
    ViewData["Title"] = "Return";
}

<h1>Return a book</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form action="@Url.Action("ReturnBook", "Users")">
            <div class="form-group">
                <label>Book Id:</label>
                <input type="text" name="BookId" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Return Book" />
            </div>
        </form>
    </div>
</div>

